
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <title>CamillaDSP</title>
    <link rel="stylesheet" href="main.css">
    <script src="pipeline.js"></script>
</head>
<body onload="pipelinePageOnLoad()">

    <%- include('header.ejs'); %>

    <!-- <div id="pipelineContainer"></div> -->

    <style>    
        #pipelineContainer {
            display: block;
            width: 75vw;
            height: max(900px,90vh);
            background-color: #333;
            border-radius: 10px;
            user-select: none;
        }

        .pipelineNode {
            display: block;
            position: absolute;
            width: 250px;
            height: 75px;
            border: 1px solid white;            
            border-radius: 7px;
            background-color: hsla(var(--main-hue),50%,10%,0.8);
            user-select: none;
            z-index: 0;
            font-size: 12px;
        }

        .pipelineNode:hover {
            background-color: hsla(var(--main-hue),50%,20%,0.8);
        }

        .nodeConnector {
            position: absolute;
            display: inline-block;
            width: 15px;
            height: 7px;
            border: 1px solid #DDD;
            background-color: #ddd;
            border-radius: 10%;
            left: 50%;            
            user-select: none;
            transform: translateX(-50%);
        }

        .connectorLine {
            z-index: 0;
        }

        .contextMenu {            
            position: absolute;
            display: none;            
            background-color: hsla(var(--main-hue),40%,60%,1);
            color: black;                        
            border-radius: 7px;
            box-shadow: 5px 5px 5px #222;
        }


        .contextMenu ul {
            list-style: none;
            margin: 0;
            padding: 0;
            border-radius: 7px;
        }

        .contextMenu li {
            list-style: none;
            cursor: pointer;         
            padding: 5px;
            padding-inline: 10px;
            line-height: 1;   
            font-size: 14px;         
            user-select: none;
        }

        .contextMenu li:hover {
            background-color: hsla(var(--main-hue),60%,20%,1);
            color: white;
            transition: all 250ms;
        }

    </style>

    <div id="pipelineContainer">
        
    </div>

    <div class="contextMenu" id="nodeContextMenu">
        <ul>
            <li command="removeNode" >Remove node</li>
            <li command="disconnectNode">Disconnect node</li>
            <li command="addNode">Add node</li>
        </ul>
    </div>

    <div class="contextMenu" id="containerContextMenu">
        <ul>
            <li command="addNode" >Add node</li>            
            <li command="clearFilters">Clear filters</li>
            <li command="alignNodes">Align nodes</li>
            <li command="autoConnect">Auto connect</li>

        </ul>
    </div>

    
    
</body>
</html>