
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100vw, initial-scale=1.0">
    <title>CamillaDSP</title>
    <link rel="stylesheet" href="main.css">
    <script src="pipeline.js"></script>
</head>
<body onload="pipelinePageOnLoad()">

    <%- include('header.ejs'); %>

    <!-- <div id="pipelineContainer"></div> -->

    <style>    
        #pipelineContainer {
            display: block;
            width: 75vw;
            height: max(500px,50vh);
            background-color: #333;
            border-radius: 10px;
            user-select: none;
        }

        .pipelineNode {
            display: block;
            position: absolute;
            width: 250px;
            height: 100px;
            border: 1px solid white;            
            border-radius: 7px;
            background-color: #444;
            user-select: none;
        }

        .nodeConnector {
            position: absolute;
            display: inline-block;
            width: 10px;
            aspect-ratio: 1;
            border: 2px solid white;
            background-color: white;
            border-radius: 50%;
            left: 50%;            
            user-select: none;
            transform: translateX(-50%);
        }

    </style>

    <div id="pipelineContainer">

        
    </div>

    
</body>
</html>